@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: 'Montserrat';
    color: var(--white);
    max-width: 800px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: var(--darkblue);
    scroll-behavior: smooth;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: solid;
    text-shadow: 0 0  5px #081074, 0 0  5px #210154;
    color: inherit;
    
    
}
body {
    max-width: 800px;
    min-width: 450px;
}
nav {
    display: flex;
    justify-content: center;
    
}
:root {
    --cyan: #34B0Be;
    --grey: #d1ceca;
    --blue: #242635;
    --otherblue: #040c39;
    --darkblue:#040320;
    --white: #ffffff;
    --black: #000000;
}
.fMontserrat-400 {
    font-family: 'Montserrat';
    
}
.fMontserrat-600 {
    font-family: 'Montserrat';
    
}

/* *********************//* *********************/
/* <!-- SECCION NavBar --> */
/* *********************//* *********************/
.navbar {
    justify-content: end;
    padding-right: 3rem;

}

.menu {
    position: fixed;
    background-color: var(--blue);
    top: 50px;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transform: translateX(-150%);
    transition: transform 0.5s;
}
.menu-show {
    transform: translateX(0);
    background-color: transparent;
    
}
.bx-menu {
    font-size: 2rem;
    cursor: pointer;
    
}

/* *********************//* *********************/
/* <!-- SECCION Start --> */
/* *********************//* *********************/
.start {
    background-color: var(--darkblue);
    
}
.headerConteiner{
    padding-top: 3rem;
}
.whoiam {
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
/* .first {
    margin: auto;
}  */
/* .name {
    padding-top: 5rem;
    height: 200px;
} */
.photoContainer {
    
    background-color:  var(--blue);
    border-radius: 50%;
    border: none;
    width: 400px;
    height: 400px;
    margin:auto;
    padding-bottom: 1rem;
    
}
.pablo {
    display:flex;
    margin: auto;
    width: 70%;
    padding-top: 1.3rem;
    border-radius: 35%;
    padding-left: 0.5rem;
}

.name {
    margin: auto;
    text-align: center;
    
    width: 400px;
    
}
.name span {
    color: var(--cyan);
    font-size: 50px;
    
}
.job {
    text-align: center;
    padding-top: 1rem;
}
.job {
    font-size: 24px;
}
.hrStartSection {
    display: none;
}
.hrStartSection2 {
    
    background-color: white;
    max-width: 60%;
    margin: auto;
    height: 0.1rem;
}
.experience span {
    color: var(--cyan);
}
.header_icon  {
    padding-top: 2rem;
    max-width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}

.link, .insta, .twitter {
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: 50%;
}

.Logos {
    margin: auto;
    max-width: 1000px;
    padding: 2rem;
    background-position: center;
}

/* *********************//* *********************/
/* <!-- SECCION Box Logos --> */
/* *********************//* *********************/

.gLogos {
    padding: 2rem 0.5rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: var(--blue);
    padding-bottom: 2rem;
    border-radius:1em;
    
}

.google, .instagram , .spotify {
    padding: 1rem 2rem;
    background-color: var(--white);
    border-radius: 1em;
    
}

/* *********************//* *********************/
/* <!-- SECCION About Me --> */
/* *********************//* *********************/

.aboutme {
    padding-top: 1rem;
    background-color:  var(--darkblue);
    
}
.name h1 {
    font-size: 50px;
    font-weight: bold;
}
.aboutmeTitle  {
    color: var(--cyan);
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.aboutmeTitle span {
    color: var(--cyan);
}
.aboutmeTitle p {
    padding: 1rem 2rem;
    

}
.textServices span {
    font-size: 32px;
}
.textServices p {
    font-size: 18px;
    
}

/* *********************//* *********************/
/* <!-- SECCION Servicios --> */
/* *********************//* *********************/

.servicesTitle {
    display: flex;
    justify-content: center;
    
    
}
.servicesTitle span {
    color: var(--cyan);
    font-size: 32px;
}

.services {
    display: inline-flex;
    text-align: center;
    max-width: 1200px;
    gap: 3%;
    padding: auto;
    justify-content: center;
    
}


.servicio {
    
    background-image:url(./vectores/semiround.svg);
    background-repeat: no-repeat;
    background-position: center top;
    
}
.servicio img{
    
    padding-top: 20%;
}
.servicio h4 {
    color: var(--black);
}
.servicio p {
    color: var(--grey);
    font-size: 16px;
    padding: 1rem;
    
}

.fila, .fila2, .fila3 {
    display: inline-flex;
    
    background-color: var(--white);
    
}

/* *********************//* *********************/
/* <!-- SECCION Mis Habilidades --> */
/* *********************//* *********************/

.contenedor-skills {
    background-color: var(--darkblue);
    background-position: center center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 2rem;
}
.contenedor-skills h3 {
    font-size: 32px;
    color: var(--cyan);
}
.contenedor-skills .skill {
    max-width: 1200px;
    margin: 30px auto;
    
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}



.contenedor-skills .skill .barra {
    background-color: #ffffff;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
    
}

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: var(--cyan);
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
    
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: var(--cyan);
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: var(--cyan);
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.skill .info {
    margin: auto; 
    padding: 1rem;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

/* *********************//* *********************/
/* <!-- SECCION Portafolio --> */
/* *********************//* *********************/

.tituloSeccion {
    color: var(--cyan);
    text-align: center;
    font-size: 32px;
    
}

.portfolio {
    display: flex;
    max-height: 800px;
    padding: 50px 0;
    overflow-x: auto;
    gap: 2rem;
    
}
.portfolio .item {
    min-width: 520px;
    height: 480px;
    line-height:  80px;
    text-align: center;
}
#portfolio .fila {
    display: block;
}
    #portfolio .fila .proyecto {
    margin: 10px auto;
}

/* *********************//* *********************/
/* <!-- SECCION Contacto --> */
/* *********************//* *********************/
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
    .contacInfo {
        display: inline-block;
        background-color: var(--darkblue);
        
    }
    [src="./íconos/phone.svg"], [src="./íconos/mail.svg"] { 
        width: 80px;
    }

/* *********************//* *********************/
/* <!-- SECCION Bye bye --> */
/* *********************//* *********************/
.love {
    justify-content: center;
    align-content:center;
}
.love h4 {
    color: #34B0Be;

}

.celNumber, .email {
    height: 200px;
    background-color: var(--white);
    width: 250px;
    border-radius: 2px;
    text-align: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-image:url(./vectores/semiround.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.celNumber h5, .email h5 {
    
    color: #000000;
    font-size: 16px;
}
.celNumber p, .email p {
    color: var(--grey);
    padding-top: 0.3rem;
    font-size: 16px;
}
/* <!-- SECCTION ByeBye --> */

.end {
    text-align: center;
    
}
.email img , .celNumber img {
    width: 90px;
} 


    /* *********************/
    /* seccion Media */
    /* *********************/
    
    @media screen and (min-width: 800px) {
        .startWhoiam {
            display: flex;
            flex-direction: row-reverse;
            width: 800px;
            margin: auto;
        }
        .whoiam {
            display: grid;
            padding-top: 0rem;
        }
        .bx-menu {
            display: none;
        }
        .menu {
            position: static;
            width: 60%;
            height: auto;
            flex-direction: row;
            transform: translateX(0);
            
            margin: 0 auto;
            background-color: transparent;
        }
        .contacInfo {
            display: flex;
            background-color: var(--darkblue);
            margin: auto;
            padding-left: 0%;  
        }
        body {
            max-width: 1200px;
        }
        .first {
            display: grid;
            background-color: inherit;
            
        } 
        .hrStartSection {
            display: flex;
            width: 60%;
        }
        .hrStartSection2 {
            display: none;
        }
        .navbar {
            margin: 0 auto;
            
        }
        .contact {
            display: block;
            flex-direction: row;
            padding-top: 2rem;
            
        }
        .celNumber, .email {
            height: 250px;
            background-color: var(--white);
            width: 250px;
            border-radius: 2px;
            text-align: center;
            
            margin: auto;
            background-image:url(./vectores/semiround.svg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100%;
        }
        .celNumber p, .email p {
            color: var(--grey);
            font-size: 16px;
            padding-top: 1.5rem;
            width: 200px ;
        }
        .celNumber h5, .email h5 {
            color: #000000;
            font-size: 18px;
            padding-top: 2.5rem;
        }
        [src="./íconos/google.png"], [src="./íconos/amazon.png"] , [src="./íconos/spotify.png"] {
            width: 70px;
        }
        
        .name  {
            padding-top: 3rem;
            margin: auto;
            text-align: left;
            font-size: 35px;
            width: 540px;
        }
        .name span {
            font-size: 80px;
        }
        .job h4 {
            text-align: left;
            font-size: 35px;
        }
        .experience {
            text-align: left;
            font-size: 35px;    
        }
        .header_icon  {
            gap: 1.8rem;
        }
        
        .whoiam {
            margin-left: -8rem;

        }
        .link, .insta, .twitter {
            padding: 0.5rem;
            background-color: var(--white);
            border-radius: 50%;
            
        }
        
        .Logos, .textServices {
            margin: auto;
            max-width: 1000px;
            padding: 1rem;
            background-position: center;
            min-width: 800;
        }
        

    }
    
    @media screen and (max-width: 600px) {
        .services {
            display: grid;
            grid-template-columns: 33%;

            
        }

    }
    
    .change {
        animation: color-change 2s infinite;
    }
    
    @keyframes color-change {
        0% { color: rgb(57, 191, 236); }
        50% { color: rgb(54, 255, 205); }
        100% { color: rgb(15, 154, 247); }
    }
    @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
    @-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}}
    .imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 10s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    }
    .imgr2 {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    }
    .menu a {
        position: relative;
        display: block;
        padding: 5px;
        }
    
    .menu a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #fcf7ff, #c9efff, #8690fe);
        z-index: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
    }
    
        .menu a:hover::before {
        transform: scaleX(1);
    }
    .zoom {
        transition: transform .3s; 
    }
    
    .zoom:hover {
        transform: scale(1.5); 
    }
    


    .text-rainbow-animation {
        font-family:arial black;
        font-size:20px;
        background-image: 
        linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
        background-clip: inherit;
        -webkit-background-clip: text;
        
        -webkit-text-fill-color: transparent;  
        animation: rainbow-animation 180s linear infinite;
    }
    
        @keyframes rainbow-animation {
            to {background-position: 4500vh;}
    }